
/* Estilos del Hero */

.hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;

}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilos del título */

.top {
    margin-top: 24px;
    padding: 24px;
    text-align: center;
}

.top__tittle {
    font-size: var(--font-h2);
    line-height: 1.6;
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
}


/* Estilos de las pestañas */

.main {
    max-width: 700px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-body);
    color: var(--gray);
    line-height: 1.8;

    padding: 0 1rem;
    margin: 0 auto;   

}

.pestanas {
    border: 1px solid var(--beige-600);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;    
    margin: 24px;
    padding: 24px;
    

}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid var(--beige-400);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    text-align: center;
    color: var(--beige-900)
}

.tab.abierto {
    border: 3px solid var(--beige-600);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    color: var(--gray)
}

.contenido {
    display: none;
    padding: 20px;

}

.contenido.abierto {
    display: block;
}

/* Estilos del botón */

.button {
    background-color: var(--beige-900);
    padding: 10px 24px;
    color: var(--white);
    border-radius: 12px;
    border:1px solid var(--beige-400);
    box-shadow: var(--box-shadow);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 48px;
    
}

