
/* Estilos del header */

.header {
    background-color: var(--beige-600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: var(--box-shadow);

}

.header__logo {
    width: 73px;
    height: 73px;
    align-content: center;
}

.header__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-body);
    color: var(--gray);

}

.header__nav {
    display: flex;
    gap: 1.5rem;
}

/* Estilos del footer */

.footer {
    background-color: var(--beige-600);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;

}

.footer__logo {
    width: 100px;
    height: 100px;
    
}

.footer__link {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-body);
    color: var(--gray);

}

.footer__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-button);
    color: var(--gray);
    font-weight:600;
}


/* Estilos de los hover */

a:hover {
    font-weight: 600;
    text-decoration: underline;
    color: var(--beige-900);
}

button:hover {
    font-weight: 600;
    color: var(--beige-400);
    box-shadow: 1px 1px 5px rgba(118, 118, 118, 0.539);

}