/* ----------------------------------*/
/*          Color del Body           */
/* ----------------------------------*/

body {
    background-color: var(--beige-400);
}

/* ----------------------------------*/
/*          Estilos del hero         */
/* ----------------------------------*/

.hero {
    width: 100%;
    overflow: hidden;
    /* si hay contenido que se desborda, ocultar  */
}

.hero__img {
    width: 100vw;
    padding-bottom: 24px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.hero__img img {

    width: 100%;
    height: 600px;
    object-fit: cover;
    /* la img cubre todo el contenedor  */
    object-position: center;
    /* y está centrada */


}

.hero__contenido {
    background-color: var(--white);
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    align-content: center;
    padding: 24px;
    width: 100%;
    height: 100%;

}

.hero__titulo {
    font-size: var(--font-h2);
    line-height: 1.8;
    /* para que haya más separación entre lineas  */
}


.hero__body {
    font-size: var(--font-body);
    line-height: 1.8;
    /* para que haya más separación entre lineas  */
}





/* ----------------------------------*/
/*          Estilos del tíulo        */
/* ----------------------------------*/

.top {
    margin-top: 24px;
    padding: 24px;
    text-align: left;
    justify-self: center;
    /* para que esté en el centro, pero no con el texto centrado */
}

.top__titulo {
    font-size: var(--font-h3);
    line-height: 1.6;
    /* para que haya más separación entre lineas  */
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
}

.top__subtitulo {
    font-size: var(--font-body);
    line-height: 1.8;
    /* para que haya más separación entre lineas  */
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
}



/* ---------------------------------------------*/
/*          Estilos del main (acordeón)         */
/* ---------------------------------------------*/

.main {
    max-width: 820px;
    /* para que el ancho máximo sea de 820px  */
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-body);
    color: var(--gray);
    line-height: 1.8;
    /* para que haya más separación entre lineas  */

    padding: 0 1rem;
    /* 1rem a los lados  */
    margin: 0 auto;
    /* para que se coloquen en el centro  */

}

.acordeon {

    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    margin: 24px;
    padding: 24px;


}

.acordeon__item {
    display: flex;
    flex-direction: column;
    padding: 24px;

    border: 2px, solid, var(--beige-600);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    cursor: pointer;
    /* cambiar el cursor cuando se pase por encima */
    transition: transform 0.2s ease;
    /* para que se haga un poco más grande al hacer hover, de una manera suave */



}

.acordeon__item:hover {
    transform: scale(1.01);
    /* para que se haga un poco más grande al hacer hover */

}


.acordeon__indice {
    display: flex;
    justify-content: flex-start;
    /* alinear a la izquierda  */
    align-items: center;
}

.acordeon__content {
    max-height: 0px;
    /* cerrado por defecto*/

    overflow: hidden;
    /* ocultar contenido que se sale */
    transition: max-height 0.6s ease;
    /* suavizar al abrir y cerrar */
    padding-bottom: 8px;


}






.acordeon__item.open .acordeon__content {
    max-height: 900px;
    /* valor grande para cubrir el contenido del elemento con más items (Arizona), para que funcione bien la transition */
}



/* ----------------------------------*/
/*          Media queries            */
/* ----------------------------------*/

/* Estilos del Hero para pantallas grandes */

@media (min-width: 1180px) {

    .hero {
        width: 100%;
        overflow: hidden;
        display: flex;
        /* en pantallas grandes, colocamos la imagen al lado del bloque de texto */
        padding-top: 80px;
        height: 700px;
    }

    .hero__img {
        width: 100vw;
        height: 100%;
        padding-top: 24px;



        display: flex;
        justify-content: center;


    }

    .hero__img img {

        width: 80%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: var(--box-shadow);



    }

    .hero__contenido {
        background-color: var(--white);
        color: var(--gray);
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        align-content: center;


        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        flex-grow: 1;
        /* que ocupe todo el espacio que tiene disponible */

        width: 100%;
        height: 100%;



    }

    .hero__titulo {
        font-size: var(--font-h2);
        line-height: 1.8;
        /* para que haya más separación entre lineas  */
    }


    .hero__body {
        font-size: var(--font-body);
        line-height: 1.8;
        /* para que haya más separación entre lineas  */
    }




}